/* wildcard styling */
* {
    box-sizing: border-box;
}

/* padding for whole body */
body {
    background-color: lavenderblush;
    background-image:image()
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
    padding: 15px;
}

/* styling body */
.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: #E06A82;
}

/* anchor tag decoration */
a {
    text-decoration: none;
    color: #A94464;
}

a:hover {
    color: #E47E93;
}

/* paragraph tga decoration */
p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

}

/* row and column decoration */
.row {
    margin: 0px -18px;
    padding: 8px;
}

.row > .column {
    padding: 6px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* content decoration */
.content {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #A94464;
}

/* window size 850 width set */
@media screen and (max-width: 850px) {
    .column {
        width: 50%;
    }
}

/* window size 400 width set */
@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}